
 .cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    gap: 1em;
    max-width: 90vw;
}
.card{
    box-sizing: border-box;
    max-width: 10em;
    min-width: 9em;
    height: 22em;
   

}
.list-group >* {
    background-color: rgba(240, 255, 255, 0);
}

.list-group-item >*{
    background-color: #dde0aba9;
    border-radius: 0.375em;
    padding: 0.1em;
}
.card-footer{
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    
}
.card ul{
    padding-inline-start: 0;
}