
 .cards{
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    width: 90vw;
    justify-content: space-evenly;
}
.card{
    width: 15vw;
}
.card-img{
    height: 30vh;
}
.card-footer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card ul{
    padding-inline-start: 0;
}